.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}
img {
  width: 600px;
}

.excel {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-height: 400px; /* 最大の高さを指定 */
  overflow-y: auto; /* 縦スクロールを有効化 */
  border: 1px solid #ddd;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  thead th {
    position: sticky;
    top: 0;
    background: white; /* ヘッダーを固定 */
    z-index: 1;
  }
}
