.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}
img {
  width: 600px;
}

.excel {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
