.ranking-results-container {
  display: flex;
  flex-flow: row wrap;
}

mat-card{
  margin: 10px 20px;
}

.ranking-container {
  display: flex;
  align-items: center;
  flex-flow: column;

  h2{
    margin: 5px;
  }

  .top-group{
    .gold{
      color: #e6c717f3;
    }
  }
  .sub-group{
    display: flex;
    flex-flow: row;
    
    .silver{
      color: #a3a3a3;
    }
    .bronze{
      color: #cd853f;
    }
  }
  
  .group-container {
    display: flex;
    align-items: center;
    flex-flow: column;

    .player-container {
      display: flex;
      align-items: flex-start;
      flex-flow: column;

      .player{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .info {
          display: flex;
          flex-flow: column;

          h3{
            margin: 0px 10px;
          }
        }
      }
    }
  }
}