img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.select-icon-image {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-form {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: baseline;
    margin-top: 20px;

    mat-checkbox {
      margin-left: 10px;
    }
  }
}
/* 日付ピッカーの日部分を非表示にする */
::ng-deep .mat-calendar-body-cell-content {
  display: none;
}
