.form-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.game-result-form {
  width: 60%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.personals-result-form {
  width: 80%;
}

.personal-result-container {
  display: flex;
  flex-flow: row wrap; /* 横並びにしつつ、折り返し可能 */
  align-items: center;
  justify-content: space-evenly;
  .add {
    color: var(--primary-60);
  }
}

.personal-result-form {
  display: flex;
  flex-flow: column;
}

.personal-result-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .delete {
    color: var(--error-50);
  }
}

.excel {
  display: flex;
  flex-flow: column;
  justify-content: center;
  button {
    width: 200px;
  }

  .table-container {
    max-width: 100%;
    max-height: 500px; /* 最大の高さを指定 */
    overflow-x: auto; /* 縦スクロールを有効化 */
    overflow-y: auto; /* 縦スクロールを有効化 */
    border: 1px solid #ddd;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    thead th {
      position: sticky;
      top: 0;
      background: white; /* ヘッダーを固定 */
      z-index: 1;
    }
  }
}
